{% extends "base.html" %}

{% block container %}
<div class="row">
	<div class="page-header">
		<h3 class="heading"><i class="fa fa-tasks animated flip"></i> Acciones recientes</h3>
	</div>
</div>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
	<li><a href="/">Inicio</a></li>
	<li class="active">Acciones recientes</li>
</ol>
<!-- // Breadcrumbs -->    
<div class="separator bottom"></div>

<div class="row">
	<div class="col-md-9">
		<!-- Earnings -->
		<div class="panel panel-default">
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-hover table-striped reset margin bottom" id="dataTables-example">
						<thead>
							<tr>
								<th class="text-center">Usuario</th>
								<th class="text-center">Acción</th>
								<th>Elemento</th>
								<th class="text-center">Fecha</th>							
							</tr>
						</thead>
						<tbody>						
							{% for entry in entries %}
							<tr>
								<td class="text-center">{{ entry.user }} </td>
								<td class="text-center actions">
									<span class="label label-{{ entry.action_color }}" href="#">
										<i class="fa {{ entry.icon }} fa-lg"></i> 
										{{ entry.action_flag }}
									</a>									
								</td>							
								<td class="strong">
									{{ entry.content_type }} 
									<a href={{ entry.link }}>
										{{ entry.object_repr }}
									</a>																

									<br/>								
									
								</td>
								<td class="text-center">
									<small>{{ entry.action_time }} </small>
								</td>

							</tr>
							{% endfor %}							
							
						</tbody>
					</table>
				</div>
			<!-- /.table-responsive -->
			</div>
		<!-- /.panel-body -->
		</div>
	<!-- /.panel -->	
	</div>
</div>

	
{% endblock container %}