		<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle pull-left margin left" data-toggle="collapse" data-target=".sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<h3 id="app_title">BaseTracker</h3>
				</a>
			</div>
			<!-- /.navbar-header -->


			<ul class="nav navbar-top-links navbar-right hidden-xs">				
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="fa fa-bell fa-fw"></i> <span class="badge badge-notification badge-info animated fadeIn">3</span>
					</a>
					<ul class="dropdown-menu dropdown-alerts animated fadeInUp">
						<li>
							<a href="#">
								<div>
									<i class="fa fa-comment fa-fw"></i> New Comment
									<span class="pull-right text-muted small">4 minutes ago</span>
								</div>
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#">
								<div>
									<i class="fa fa-twitter fa-fw"></i> 3 New Followers
									<span class="pull-right text-muted small">12 minutes ago</span>
								</div>
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#">
								<div>
									<i class="fa fa-envelope fa-fw"></i> Message Sent
									<span class="pull-right text-muted small">4 minutes ago</span>
								</div>
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#">
								<div>
									<i class="fa fa-tasks fa-fw"></i> New Task
									<span class="pull-right text-muted small">4 minutes ago</span>
								</div>
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#">
								<div>
									<i class="fa fa-upload fa-fw"></i> Server Rebooted
									<span class="pull-right text-muted small">4 minutes ago</span>
								</div>
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a class="text-center" href="#">
								<strong>See All Alerts</strong>
								<i class="fa fa-angle-right"></i>
							</a>
						</li>
					</ul>
					<!-- /.dropdown-alerts -->
				</li>
				<!-- /.dropdown -->
				

				<li class="dropdown">
					<a class="dropdown-toggle user" data-toggle="dropdown" href="#">
						Configuración
						<!-- {{ cuser.full_name }}  -->
						<!-- <img src="../assets/images/people/25x25/1.jpg" alt="" data-src="../assets/images/people/25x25/1.jpg" data-src-retina="../assets/images/people/x2/1x2.jpg" class="img-responsive img-circle user-img"> -->
						<img width="25" src="{{ cuser.avatar }}" alt="" data-src="{{ cuser.avatar }}" data-src-retina="{{ cuser.avatar }}" class="img-responsive img-circle user-img">
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu dropdown-user animated fadeInUp">
						<li>
							 <div class="media">
								<a class="pull-left" href="#">
									<img class="media-object user-profile-image img-circle" width="65" src="{{ cuser.avatar }}">
								</a>
								<div class="media-body">
									<h4 class="media-heading">
										{{ cuser.full_name }}
									</h4>
									<h5>Software Developer</h5>
									<hr style="margin:8px auto">

								</div>
							</div>
						</li>
						<li class="divider"></li>
						<li><a href="#"><i class="fa fa-tasks"></i> Mis tareas</a></li>
						<li class="divider"></li>
						<li><a href="#"><i class="fa fa-user"></i> Perfil</a></li>
						<li class="divider"></li>
						<li><a href="#"><i class="fa fa-gear fa-fw"></i> Configuración</a></li>
						<li class="divider"></li>
						<li><a href="/logout" class="text-danger"><i class="fa fa-sign-out fa-fw"></i> Salir</a>
						</li>
					</ul>
					<!-- /.dropdown-user -->
				</li>
				<!-- /.dropdown -->
			</ul>
			<!-- /.navbar-top-links -->

		</nav>
		<!-- /.navbar-static-top -->