{% extends "base.html" %}

{% block container %}

<div class="row">
    <div class="page-header">
        <h3 class="heading"><i class="fa fa-tasks animated flip"></i> Detalle de Proyecto</h3>
    </div>
</div>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Inicio</a></li>
    <li class="active">Detalle de Proyecto</li>
</ol>
<!-- // Breadcrumbs -->    
<div class="separator bottom"></div>  
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-exchange fa-fw"></i> Transactions</h4>
            </div>
            <div class="panel-body reset padding padding-all">
                <table class="table table-hover reset margin bottom">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 1%">No.</th>
                            <th>Transaction</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Amount</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                                                    
                        <!-- Item -->
                        <tr>
                            <td class="text-center">1</td>
                            <td class="strong"><i class="fa fa-fw fa-arrow-up text-success"></i> ThemeForest<br><small><a href="http://themeforest.net/item/defone-responsive-bootstrap-3-admin-template/7403699?ref=defthemes">DefOne - Responsive Bootstrap 3 Admin Template</a></small></td>
                            <td class="text-center">23 Apr 2014</td>
                            <td class="text-center"><span class="label label-info">€483.00</span></td>
                            <td class="text-right actions">
                                <div class="sparkline success"></div>
                            </td>
                        </tr>
                        <!-- // Item END -->
                        <!-- Item -->
                        <tr>
                            <td class="text-center">2</td>
                            <td class="strong"><i class="fa fa-fw fa-arrow-up text-success"></i> ThemeForest<br><small><a href="http://themeforest.net/item/defone-responsive-bootstrap-3-admin-template/7403699?ref=defthemes">DefOne - Responsive Bootstrap 3 Admin Template</a></small></td>
                            <td class="text-center">23 Apr 2014</td>
                            <td class="text-center"><span class="label label-info">€327.00</span></td>
                            <td class="text-right actions">
                                <div class="sparkline success"></div>
                            </td>
                        </tr>
                        <!-- // Item END -->
                        <!-- Item -->
                        <tr>
                            <td class="text-center">3</td>
                            <td class="strong"><i class="fa fa-fw fa-arrow-up text-success"></i> Amazon Web Services<br><small>EC2, RDS, CDN Networks monthly payments</small></td>
                            <td class="text-center">23 Apr 2014</td>
                            <td class="text-center"><span class="label label-info">€125.00</span></td>
                            <td class="text-right actions">
                                <div class="sparkline success"></div>
                            </td>
                        </tr>
                        <!-- // Item END -->
                        <!-- Item -->
                        <tr>
                            <td class="text-center">4</td>
                            <td class="strong"><i class="fa fa-fw fa-arrow-up text-success"></i> ThemeForest<br><small><a href="http://themeforest.net/item/defone-responsive-bootstrap-3-admin-template/7403699?ref=defthemes">DefOne - Responsive Bootstrap 3 Admin Template</a></small></td>
                            <td class="text-center">23 Apr 2014</td>
                            <td class="text-center"><span class="label label-info">€721.00</span></td>
                            <td class="text-right actions">
                                <div class="sparkline success"></div>
                            </td>
                        </tr>
                        <!-- // Item END -->
                        <!-- Item -->
                        <tr>
                            <td class="text-center">5</td>
                            <td class="strong"><i class="fa fa-fw fa-arrow-down text-danger"></i> ThemeForest<br><small><a href="http://themeforest.net/item/defone-responsive-bootstrap-3-admin-template/7403699?ref=defthemes">DefOne - Responsive Bootstrap 3 Admin Template</a></small></td>
                            <td class="text-center">23 Apr 2014</td>
                            <td class="text-center"><span class="label label-info">€602.00</span></td>
                            <td class="text-right actions">
                                <div class="sparkline danger"></div>
                            </td>
                        </tr>
                        <!-- // Item END -->
                        <!-- Item -->
                        <tr>
                            <td class="text-center">6</td>
                            <td class="strong"><i class="fa fa-fw fa-arrow-down text-danger"></i> Amazon Web Services<br><small>EC2, RDS, CDN Networks monthly payments</small></td>
                            <td class="text-center">23 Apr 2014</td>
                            <td class="text-center"><span class="label label-info">€480.00</span></td>
                            <td class="text-right actions">
                                <div class="sparkline danger"></div>
                            </td>
                        </tr>
                        <!-- // Item END -->                                                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <!-- Website Stats  Widget -->
        <div class="panel">
            <div class="panel-heading clearfix">
                <h4 class="pull-left">Sales by Country</h4>
            </div>
            <div class="panel-body">
                <div id="finances-bar-chart" style="width: 100%; height: 100%;"></div>
            </div>
            <div class="inner-t inner-b text-center clearfix">
                <div class="col-xs-4 border right">
                    <div class="h3 font-bold">&euro;35k</div>
                    <small class="text-muted">of Sales</small>
                </div>
                <div class="col-xs-4">
                    <div class="h3 font-bold">7</div>
                    <small class="text-muted">Countries</small>
                </div>
                <div class="col-xs-4 border left">
                    <div class="h3 font-bold">12</div>
                    <small class="text-muted">Products</small>
                </div>
            </div>
        </div>
        <!-- End of Website Stats Widget -->
    </div>
</div>  
    
{% endblock container %}