{% extends "base.html" %}

{% block container %}
<div class="row">
	<div class="page-header">
		<h3 class="heading"><i class="fa fa-clock-o animated flip"></i> Ocupación</h3>
	</div>
</div>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
	<li><a href="/">Inicio</a></li>
	<li class="active">Ocupación</li>
</ol>
<!-- // Breadcrumbs -->    
<div class="separator bottom"></div>
			
<div class="row">
    <div class="panel panel-default col-md-8">
        <div class="panel-heading">
            Coordinación de modelado de portales
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 40%">Recurso</th>
                            <th class="text-center" style="width: 15%">Proyectos vigentes</th>
                            <th class="text-center" style="width: 15%">Iniciativas</th>
                            <th class="text-center" style="width: 15%">Prospecciones</th>
                            <th class="text-center" style="width: 15%">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Yuriham Hernández</td>
                            <td class="text-center" style="width: 15%">50 h / 167%</td>
                            <td class="text-center" style="width: 15%">3 h / 10%</td>
                            <td class="text-center" style="width: 15%">0 h / 0%</td>
                            <td class="text-center text-danger" style="width: 15%"><strong>53 h / 177%</strong></td>
                        </tr>
                        <tr>
                            <td>Paul Jiménez</td>
                            <td class="text-center" style="width: 15%">5 h / 17%</td>
                            <td class="text-center" style="width: 15%">34 h / 113%</td>
                            <td class="text-center" style="width: 15%">0 h / 0%</td>
                            <td class="text-center text-success" style="width: 15%"><strong>39 h / 130%</strong></td>
                        </tr>
                        <tr>
                            <td>Gilberto Alonso Viveros Cano</td>
                            <td class="text-center" style="width: 15%">34 h / 113%</td>
                            <td class="text-center" style="width: 15%">0 h / 0%</td>
                            <td class="text-center" style="width: 15%">0 h / 0%</td>
                            <td class="text-center text-warning" style="width: 15%"><strong>34 h / 113%</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    <div class="col-md-4">
        <!-- Weather Widget -->
        <div class="panel darken success">
            <div class="panel-heading no-border text-white">
                <a class="pull-right" href="#"><i class="fa fa-map-marker fa-2x text-white"></i></a>
                <span class="h3">Ocupación general</span>
                <div class="text-center inner-all margin top">
                    <span class="h1"><i class="fa fa-clock-o text-white animate bounceInDown"></i> 370 h</span>
                </div>
            </div>
            <div class="panel-body lighten success no-border">
                <div class="row">
                    <div class="col-xs-4 text-center darken-border success left">
                        <span class="text-white block">Promedio de<br/> horas diario</span>
                        <span>6.2</span>
                    </div>
                    <div class="col-xs-4 text-center darken-border success right">
                        <span class="text-white block">Promedio de<br/> horas semanal</span>
                        <span>31</span>
                    </div>
                    <div class="col-xs-4 text-center">
                        <span class="text-white block">Porcentaje promedio semanal</span>
                        <span>101%</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Weather Widget -->
    </div>     
</div>



<div class="row">
    <div class="panel panel-default col-md-8">
        <div class="panel-heading">
            Coordinación de diseño web
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 40%">Recurso</th>
                            <th class="text-center" style="width: 15%">Proyectos vigentes</th>
                            <th class="text-center" style="width: 15%">Iniciativas</th>
                            <th class="text-center" style="width: 15%">Prospecciones</th>
                            <th class="text-center" style="width: 15%">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Yuriham Hernández</td>
                            <td class="text-center" style="width: 15%">50 h / 167%</td>
                            <td class="text-center" style="width: 15%">3 h / 10%</td>
                            <td class="text-center" style="width: 15%">0 h / 0%</td>
                            <td class="text-center text-danger" style="width: 15%"><strong>53 h / 177%</strong></td>
                        </tr>
                        <tr>
                            <td>Paul Jiménez</td>
                            <td class="text-center" style="width: 15%">5 h / 17%</td>
                            <td class="text-center" style="width: 15%">34 h / 113%</td>
                            <td class="text-center" style="width: 15%">0 h / 0%</td>
                            <td class="text-center text-success" style="width: 15%"><strong>39 h / 130%</strong></td>
                        </tr>
                        <tr>
                            <td>Gilberto Alonso Viveros Cano</td>
                            <td class="text-center" style="width: 15%">34 h / 113%</td>
                            <td class="text-center" style="width: 15%">0 h / 0%</td>
                            <td class="text-center" style="width: 15%">0 h / 0%</td>
                            <td class="text-center text-warning" style="width: 15%"><strong>34 h / 113%</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    <div class="col-md-4">
        <!-- Weather Widget -->
        <div class="panel darken success">
            <div class="panel-heading no-border text-white">
                <a class="pull-right" href="#"><i class="fa fa-map-marker fa-2x text-white"></i></a>
                <span class="h3">Ocupación general</span>
                <div class="text-center inner-all margin top">
                    <span class="h1"><i class="fa fa-clock-o text-white animate bounceInDown"></i> 370 h</span>
                </div>
            </div>
            <div class="panel-body lighten success no-border">
                <div class="row">
                    <div class="col-xs-4 text-center darken-border success left">
                        <span class="text-white block">Promedio de<br/> horas diario</span>
                        <span>6.2</span>
                    </div>
                    <div class="col-xs-4 text-center darken-border success right">
                        <span class="text-white block">Promedio de<br/> horas semanal</span>
                        <span>31</span>
                    </div>
                    <div class="col-xs-4 text-center">
                        <span class="text-white block">Porcentaje promedio semanal</span>
                        <span>101%</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Weather Widget -->
    </div>     
</div>


<div class="row">
    <div class="panel panel-default col-md-8">
        <div class="panel-heading">
            Coordinación de administración de portales
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 40%">Recurso</th>
                            <th class="text-center" style="width: 15%">Proyectos vigentes</th>
                            <th class="text-center" style="width: 15%">Iniciativas</th>
                            <th class="text-center" style="width: 15%">Prospecciones</th>
                            <th class="text-center" style="width: 15%">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Yuriham Hernández</td>
                            <td class="text-center" style="width: 15%">50 h / 167%</td>
                            <td class="text-center" style="width: 15%">3 h / 10%</td>
                            <td class="text-center" style="width: 15%">0 h / 0%</td>
                            <td class="text-center text-danger" style="width: 15%"><strong>53 h / 177%</strong></td>
                        </tr>
                        <tr>
                            <td>Paul Jiménez</td>
                            <td class="text-center" style="width: 15%">5 h / 17%</td>
                            <td class="text-center" style="width: 15%">34 h / 113%</td>
                            <td class="text-center" style="width: 15%">0 h / 0%</td>
                            <td class="text-center text-success" style="width: 15%"><strong>39 h / 130%</strong></td>
                        </tr>
                        <tr>
                            <td>Gilberto Alonso Viveros Cano</td>
                            <td class="text-center" style="width: 15%">34 h / 113%</td>
                            <td class="text-center" style="width: 15%">0 h / 0%</td>
                            <td class="text-center" style="width: 15%">0 h / 0%</td>
                            <td class="text-center text-warning" style="width: 15%"><strong>34 h / 113%</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    <div class="col-md-4">
        <!-- Weather Widget -->
        <div class="panel darken success">
            <div class="panel-heading no-border text-white">
                <a class="pull-right" href="#"><i class="fa fa-map-marker fa-2x text-white"></i></a>
                <span class="h3">Ocupación general</span>
                <div class="text-center inner-all margin top">
                    <span class="h1"><i class="fa fa-clock-o text-white animate bounceInDown"></i> 370 h</span>
                </div>
            </div>
            <div class="panel-body lighten success no-border">
                <div class="row">
                    <div class="col-xs-4 text-center darken-border success left">
                        <span class="text-white block">Promedio de<br/> horas diario</span>
                        <span>6.2</span>
                    </div>
                    <div class="col-xs-4 text-center darken-border success right">
                        <span class="text-white block">Promedio de<br/> horas semanal</span>
                        <span>31</span>
                    </div>
                    <div class="col-xs-4 text-center">
                        <span class="text-white block">Porcentaje promedio semanal</span>
                        <span>101%</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Weather Widget -->
    </div>     
</div>


{% endblock container %}


