{% extends "base.html" %}

{% block container %}
<div class="row">
	<div class="page-header">
		<h3 class="heading"><i class="fa fa-clock-o animated flip"></i> Ocupación</h3>
	</div>
</div>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
	<li><a href="/">Inicio</a></li>
	<li class="active">Ocupación</li>
</ol>
<!-- // Breadcrumbs -->    
<div class="separator bottom"></div>

{% for e in groups %}
			
<div class="row">
    <div class="panel panel-default col-md-8">
        <div class="panel-heading">
            {{ e.group.name }}
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 30%">Recurso</th>
                            <th class="text-center" style="width: 15%">Proyectos vigentes</th>
                            <th class="text-center" style="width: 15%">Iniciativas</th>
                            <th class="text-center" style="width: 15%">Prospecciones</th>
                            <th class="text-center" style="width: 25%">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for week in e.total.elems %}
                        <tr>
                            <td>{{ week.user.get_full_name }}</td>
                            <td class="text-center" style="width: 15%">
                                {{ week.cur_hours.percent|floatformat:"-2" }}%<br/>
                                <small>{{ week.cur_hours.hours|floatformat:"-2" }}h</small>
                            </td>
                            <td class="text-center" style="width: 15%">
                                {{ week.ini_hours.percent|floatformat:"-2" }}%<br/>
                                <small>{{ week.ini_hours.hours|floatformat:"-2" }}h</small>
                            </td>
                            <td class="text-center" style="width: 15%">
                                {{ week.pro_hours.percent|floatformat:"-2" }}%<br/>
                                <small>{{ week.pro_hours.hours|floatformat:"-2" }}h</small>
                            </td>
                            <td class="text-center text-{{ week.overload }}" style="width: 15%">
                                <strong>
                                {{ week.all_hours.percent|floatformat:"-2" }}%<br/>
                                <small>{{ week.all_hours.hours|floatformat:"-2" }}h</small>                               
                                </strong>
                            </td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    <div class="col-md-4">
        <!-- Weather Widget -->
        <div class="panel darken success">
            <div class="panel-heading no-border text-white">
                <a class="pull-right" href="#"><i class="fa fa-map-marker fa-2x text-white"></i></a>
                <span class="h3">Ocupación general</span>
                <div class="text-center inner-all margin top">
                    <span class="h1"><i class="fa fa-clock-o text-white animate bounceInDown"></i> 
                        {{ e.total.total_hours|floatformat:"0" }} h
                    </span>
                </div>
            </div>
            <div class="panel-body lighten success no-border">
                <div class="row">
                    <div class="col-xs-4 text-center darken-border success left">
                        <span class="text-white block">Promedio de<br/> horas diario</span>
                        <span>{{ e.total.total_prom|floatformat:"-2" }} </span>
                    </div>
                    <div class="col-xs-4 text-center darken-border success right">
                        <span class="text-white block">Promedio de<br/> horas semanal</span>
                        <span>{{ e.total.total_avg|floatformat:"-2" }}</span>
                    </div>
                    <div class="col-xs-4 text-center">
                        <span class="text-white block">Porcentaje promedio semanal</span>
                        <span>{{ e.total.total_sem|floatformat:"-2" }}%</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Weather Widget -->
    </div>     
</div>

{% endfor %}



{% endblock container %}


