{% extends "base.html" %}

{% block container %}

<div class="row">
	<div class="page-header">
		<h3 class="heading"><i class="fa fa-tasks animated flip"></i> Detalle de Proyecto</h3>
	</div>
</div>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
	<li><a href="/">Inicio</a></li>
	<li class="active">Detalle de Proyecto</li>
</ol>
<!-- // Breadcrumbs -->    
<div class="separator bottom"></div>

<div class="panel">
    <div class="panel-body">
        <table class="table table-no-border">
            <tbody>
                <tr>
                    <td style="width: 58%;" class="hidden-print">
                        <div class="media">
                            <img class="media-object pull-left thumb animated fadeInDown" src="https://d2mdw063ttlqtq.cloudfront.net/files/83739865/avatar.png" alt="Logo" style="visibility: visible;">
                        </div>
                    </td>
                    <td class="pull-right">
                        <div class="inner-l">
                            <h4 class="separator bottom">Número de proyecto: {{ project.identifier }}</h4>
                            <!--<button type="button" data-toggle="button-loading pdf" data-target="#pdfTarget" class="btn btn-primary hidden-print"><i class="fa fa-fw fa-download"></i> Save as PDF</button>-->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div class="animated fadeInUp" style="visibility: visible;">
            <table class="table table-no-border">
                <tbody>
                    <tr>
                        <td style="width: 50%;">
                            <h2>{{ project.name }}</h2>
                            <address class="margin-none">
                                <abbr title="Descripción">Descripción:</abbr> {{ project.description }}<br/>
                                <abbr title="Descripción">Servicios:</abbr> 
                                    {% for service in project.services.all %}
                                        <br>{{ service.name }}
                                    {% endfor %}
                            </address>
                        </td>
                        <td class="pull-right">
                            <p class="lead">Información del cliente</p>
                            <h2>{{ project.client }}</h2>
                            <address class="margin-none">
                                <abbr title="Descripción">Estado: </abbr> {{ project.status }}<br/>
                                <abbr title="Descripción">Tipo: </abbr> {{ project.type }}<br/>
                                <abbr title="Descripción">KAM: </abbr> {{ project.kam }}<br/>
                                <abbr title="Descripción">Administrador: </abbr> {{ project.admin }}<br/>
                                <abbr title="Descripción">RD: </abbr> {{ project.rd }}<br/>             
                                <abbr title="Descripción">Fecha de inicio: </abbr> {{ project.date_begin|date:"D d M Y" }}<br/>
                                <abbr title="Descripción">Fecha de término: </abbr> {{ project.date_end|date:"D d M Y" }}
                            </address>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>   
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h3 class="heading"><i class="fa fa-clock-o animated flip"></i> Servicios</h3>
        </div>    
        <!-- Earnings -->
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">        
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width: 5%;" class="text-center">Semana</th>
                    <th style="width: 20%;" class="text-center">Servicio</th>
                    <th style="width: 15%;" class="text-center">Asignado a</th>
                    <th style="width: 35%;" class="text-center">Tareas</th>
                    <th style="width: 5%;" class="text-center">Avance</th>
                </tr>
            </thead>
            <tbody>
            {% for tasklist in tasklists %}
                <tr>
                    <td class="text-center">{{ tasklist.week_number }}</td>
                    <td><a href="/admin/bt/tasklist/{{ tasklist.id }}">{{ tasklist.service }}</a></td>
                    <td class="text-center">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">99</a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse">
                                        <div class="panel-body text">
                                            {% for tsk_service in tasklist.tasklistsummary_set.all %}
                                                {{ tsk_service.assigned.user.get_full_name }}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </td>
                    <td class="text-center">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">{{ tasklist.count_tasks }}</a>
                                        </h4>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Test de tareas    
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </td>
                    <td class="text-center">{{ tasklist.progress_tasks }}</td>
                </tr>
                {% endfor %}  
                <!-- // Cart item END -->                                
            </tbody>
        </table>
                </div>
            <!-- /.table-responsive -->
            </div>
        <!-- /.panel-body -->
        </div>
    <!-- /.panel -->    
    </div>
    <!--
    <div class="col-md-4">
        <div class="page-header">
            <h3 class="heading"><i class="fa fa-tasks animated flip"></i> Miembros</h3>
        </div>    
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover table-striped reset margin bottom" id="dataTables-example">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Nombre</th>
                                <th>Rol</th>
                                <th class="text-center">Tareas pendientes</th>                          
                            </tr>
                        </thead>
                        <tbody>                     
                            {% for member in project.get_memberships %}
                            <tr>
                                <td class="text-center">ID</td>
                                <td class="text">{{ member.user }}</td>                           
                                <td class="strong">{{ member.role }}</td>
                                <td class="text-center"></td>
                            </tr>
                            {% endfor %}                        
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>-->
</div>
        
    </div>
</div>
{% endblock container %}