		<nav id="menu" class="navbar-default navbar-static-side hidden-xs" role="navigation">
			<div class="sidebar-collapse">
				<ul class="nav" id="side-menu">
					<li class="sidebar-user">
						<div class="user-img">
							<img src="{{ cuser.avatar }}" alt="" data-src="{{ cuser.avatar }}" data-src-retina="{{ cuser.avatar }}" width="65" height="65" class="img-responsive img-circle animated bounceIn">
						</div>
						<div class="user-info">
							<div class="user-greet">Ingresado como </div>
							<div class="user-name">{{ cuser.full_name }}</div>
							<div class="user-status animated bounceInLeft">
								<span class="label label-success dropdown-toggle">En línea</span>
							</div>
						</div>
					</li>
					
					
					<li class="active">
						<a href="/"><i class="fa fa-desktop fa-fw"></i> Dashboard</a>
					</li>

					<li >
						<a href="#">
						<i class="fa fa-wrench fa-fw"></i> UI Components <span class="fa arrow"></span></a>
						<ul class="nav nav-second-level ">
							<li >
								<a href="panels-wells.html">Panels and Wells <span class="label label-info pull-right">+10</span></a>
							</li>
							<li >
								<a href="buttons.html">Buttons</a>
							</li>
							<li >
								<a href="animations.html">CSS Animations <span class="label label-info pull-right">NEW</span></a>
							</li>
							<li >
								<a href="progress-bars.html">Progress bars</a>
							</li>
							<li >
								<a href="sliders.html">jQuery Sliders</a>
							</li>
							<li >
								<a href="ion-sliders.html">Ion Range Sliders <span class="label label-warning pull-right">NEW</span></a>
							</li>
							<!-- <li >
								<a href="noui-sliders.html">NoUI Range Sliders</a>
							</li> -->
							<li >
								<a href="carousels.html">Carousels <span class="label label-info pull-right">+2</span></a>
							</li>
							<li >
								<a href="icons.html">Icons</a>
							</li>
							<li >
								<a href="#">Notifications <span class="fa arrow"></span></a>
								<ul class="nav nav-third-level ">
									<li >
										<a href="notifications.html">Default Notifications</a>
									</li>
									<!-- <li >
										<a href="toastr.html">Toastr Notifications <span class="label label-info">NEW</span></a>
									</li> -->
								</ul>
							</li>
							<li >
								<a href="widgets.html">Widgets <span class="label label-info pull-right">+3</span></a>
							</li>
							<li >
								<a href="typography.html">Typography</a>
							</li>
							<li >
								<a href="grid.html">Grid</a>
							</li>
						</ul>
						<!-- /.nav-second-level -->
					</li>
					<li >
						<a href="#"><i class="fa fa-edit fa-fw"></i> Forms <span class="fa arrow"></span></a>
						<ul class="nav nav-second-level ">
							<li >
								<a href="form-elements.html">Form elements</a>
							</li>
							<li >
								<a href="validation.html">Form validation</a>
							</li>
							<li >
								<a href="file-manager.html">File manager</a>
							</li>
							<li >
								<a href="dropzone.html">DropZone</a>
							</li>
							<li >
								<a href="editor.html">WYSIWYG Editor</a>
							</li>
						</ul>
						<!-- /.nav-second-level -->
					</li>
					<li >
						<a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts <span class="fa arrow"></span></a>
						<ul class="nav nav-second-level ">
							<li >
								<a href="flot.html">Flot Charts</a>
							</li>
							<li >
								<a href="morris.html">Morris.js Charts</a>
							</li>
							<li >
								<a href="c3-charts.html">C3 Charts <span class="label label-info pull-right">new</span></a>
							</li>
						</ul>
						<!-- /.nav-second-level -->
					</li>
					<li >
						<a href="mail.html"><i class="fa fa-envelope fa-fw"></i> Mail</a>
					</li>
					<li >
						<a href="financial.html"><i class="fa fa-money fa-fw"></i> Financial  <span class="fa arrow"></span></a>
						<ul class="nav nav-second-level ">
							<li >
								<a href="invoice.html">Invoice</a>
							</li>
							<li >
								<a href="finances.html">Finances</a>
							</li>
						</ul>
						<!-- /.nav-second-level -->
					</li>

					<li >
						<a href="fleet.html"><i class="fa fa-automobile fa-fw"></i> Fleet Management  <span class="fa arrow"></span></a>
						<ul class="nav nav-second-level ">
							<li >
								<a href="fleet-dashboard.html">Dashboard</a>
							</li>
							<li >
								<a href="fleet-view-vehicle.html">View Vehicle</a>
							</li>
						</ul>
						<!-- /.nav-second-level -->
					</li>
					<li >
						<a href="maps.html"><i class="fa fa-map-marker fa-fw"></i> Maps</a>
					</li>
					<li >
						<a href="calendar.html"><i class="fa fa-calendar-o fa-fw"></i> Calendar</a>
					</li>
					<li >
						<a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables  <span class="fa arrow"></span></a>
						<ul class="nav nav-second-level ">
							<li >
								<a href="tables.html">Default and DataTables</a>
							</li>
							<li >
								<a href="pricing_tables.html">Pricing Tables</a>
							</li>
						</ul>
						<!-- /.nav-second-level -->
					</li>
					
					
					<li >
						<a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages <span class="fa arrow"></span></a>
						<ul class="nav nav-second-level ">
							<li >
								<a href="blank.html">Blank Page</a>
							</li>
							<li >
								<a href="page-tour.html">Page Tour</a>
							</li>
							<li >
								<a href="login.html">Login</a>
							</li>
							<li >
								<a href="register.html">Register</a>
							</li>
							<li >
								<a href="404.html">404 Error</a>
							</li>
							<li >
								<a href="500.html">500 Error</a>
							</li>
						</ul>
						<!-- /.nav-second-level -->
					</li>

					<li >
						<a href="#"><i class="fa fa-info-circle fa-fw"></i> Documentation <span class="fa arrow"></span></a>
						<ul class="nav nav-second-level ">
							<li ><a href="documentation/customization-guide/grid-system.html" title="">Grid System</a></li>
							<li ><a href="documentation/customization-guide/buttons.html" title="">Buttons</a></li>
							<li ><a href="documentation/customization-guide/icons.html" title="">Icons</a></li>
							<li ><a href="documentation/customization-guide/tables.html" title="">Tables</a></li>
							
							<li ><a href="documentation/customization-guide/tabs.html" title="">Tabs</a></li>
						</ul>
						<!-- /.nav-second-level -->
					</li>
				</ul>
				<!-- /#side-menu -->
			</div>
			<!-- /.sidebar-collapse -->

			
		</nav>
		<!-- /.navbar-static-side -->	