{% extends "base.html" %}

{% block container %}
<div class="row">
	<div class="page-header">
		<h3 class="heading"><i class="fa fa-tasks animated flip"></i> Usuarios</h3>
	</div>
</div>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
	<li><a href="/">Inicio</a></li>
	<li class="active">Usuarios</li>
</ol>
<!-- // Breadcrumbs -->    
<div class="separator bottom"></div>

<h3>Tags Template</h3>

{% for all_user in all_users %}

<h4>Username: {{ all_user.username }}</h4>
<br>First name: {{ all_user.first_name }}
<br>Last name: {{ all_user.last_name }}
<br>E-mail: {{ all_user.email }}
<br>Groups:

{% for group in all_user.groups.all %}
	<br>{{ group.name }}
{% endfor %}

<br>Last login: {{ all_user.last_login|date:"D d M Y H:i" }}
<br>Date joined: {{ all_user.date_joined|date:"D d M Y H:i" }}

<br>Horas por semana: {{ all_user.profile.hours_per_week }}
<br>Skype: {{ all_user.profile.skype }}
<br>Avatar: {{ all_user.profile.get_avatar_url }}

{% endfor %}

{% endblock container %}