{% extends "base.html" %}

{% block container %}
<div class="row">
	<div class="page-header">
		<h3 class="heading"><i class="fa fa-tasks animated flip"></i> Usuarios</h3>
	</div>
</div>

<!-- Breadcrumbs -->
<ol class="breadcrumb">
	<li><a href="/">Inicio</a></li>
	<li class="active">Usuarios</li>
</ol>
<!-- // Breadcrumbs -->    
<div class="separator bottom"></div>
			

<div class="col-md-8">
	<div class="panel-body">
	    <table class="table table-hover table-striped">
	      <tbody>
			{% for all_user in all_users %}      
	        <tr>
	          <td width="10%">
	          	<img src="{{ all_user.profile.get_avatar_url }}" alt="" width="30" class="img-responsive img-circle animated bounceIn"></td>
	          <td width="50%">
	            {{ all_user.get_full_name }}<br />
	            <i class="fa fa-user"></i> {{ all_user.username }}
	            <br/>
	            <i class="fa fa-envelope"></i><a href="mailto:{{ all_user.email }}"> {{ all_user.email }}</a>
	          </td>
	          <td width="20%">
	          	{% for group in all_user.groups.all %}
					{{ group.name }}<br>
				{% endfor %}
	          </td>
	          <td width="20%">
	            <a class="text-muted edit-comment" href="/profile/{{ all_user.id }}" data-toggle="tooltip" data-container="body" data-placement="top" title="Ver perfil" title="Ver perfil"><i class="fa fa-eye"></i>
	            </a>&nbsp;
	            <a class="text-muted edit-comment" href="/admin/auth/user/{{ all_user.id }}" data-toggle="tooltip" data-container="body" data-placement="top" title="Editar usuario" title="Editar usuario"><i class="fa fa-pencil"></i>
	            </a>&nbsp;
	            <a class="text-muted delete-comment" data-toggle="tooltip" data-container="body" data-placement="top" title="Borrar usuario" href="/admin/auth/user/{{ all_user.id }}/delete/" rel="nofollow" title="Borrar usuario"><i class="fa fa-trash-o"></i>
	            </a>
	          </td>
	        </tr>
			{% endfor %}            
	      </tbody>
	    </table>
	</div>    
</div>

{% endblock container %}


